/* for only nav */

@media screen and (max-width: 1250px){
    .wrapper nav{
      max-width: 100%;
      padding: 0 20px;
    }
    nav .content .links{
      margin-left: 30px;
    }
    .content .links li a{
      padding: 8px 13px;
    }
    .wrapper .search-box{
      max-width: calc(100% - 100px);
    }
    .wrapper .search-box input{
      padding: 0 100px 0 15px;
    }
  }
  @media screen and (max-width: 900px){
    .wrapper .menu-icon{
      display: block;
    }
    .wrapper #show-menu:checked ~ .menu-icon i::before{
      content: "\f00d";
    }
    nav .content .links{
      display: block;
      position: fixed;
      background: #fff;
      height: 100%;
      width: 100%;
      top: 70px;
      left: -100%;
      margin-left: 0;
      max-width: 350px;
      overflow-y: auto;
      padding-bottom: 100px;
      transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
      left: 0%;
    }
    .content .links li{
      margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
      line-height: 40px;
      font-size: 20px;
      display: block;
      padding: 8px 18px;
      cursor: pointer;
    }
    .content .links li a.desktop-link{
      display: none;
    }
    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul{
      position: static;
      opacity: 1;
      visibility: visible;
      background: none;
      max-height: 0px;
      overflow: hidden;
    }
    .content .links #show-features:checked ~ ul,
    .content .links #show-services:checked ~ ul,
    .content .links #show-items:checked ~ ul,
    .content .links #show-items-1:checked ~ ul{
      max-height: 100vh;
    }
  
    
    .content .links ul li{
      margin: 7px 20px;
    }
    .content .links ul li a{
      font-size: 18px;
      line-height: 30px;
      border-radius: 5px!important;
    }
  
    .cards{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  
    
  }

  
/* For Navigation only */
@media screen and (max-width: 400px){
  

    .wrapper nav{
      padding: 0 10px;
    }
    .content .logo a{
      font-size: 27px;
    }
    .wrapper .search-box{
      max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon{
      width: 30px;
      right: 0;
    }
    .wrapper .search-box input{
      padding-right: 30px;
    }
  
    .center{
      text-align: center;
    }
  }
  .dummy-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: -1;
    padding: 0 20px;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .dummy-text h2{
    font-size: 45px;
    margin: 5px 0;
  }

  /* Style for the form container on small screens */
@media screen and (max-width: 728px) {
  .Contact-us form {
    max-width: 100%;
  }

  .none{
    display: none;
  }

 

  .blog-second{
    display: flex;  
    background-color: white;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.blog-whole{
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.content-2{
  padding: 30px 0px 70px 0px;  
  width: 100%;              
}

.morgan-status{
  display: flex;
  justify-content: space-around;
}

.card-body{
  height: 345px;
  width: 340px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
  backdrop-filter: blur(2px);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  
}

h1{
  font-size: 36px;    
  color: white;
  text-align: center;
}

h2{
  font-size: 28px;    
  color: #2A2986;
  text-align: center;
}

h3{
  text-align: center;
}

p{
  font-size: 16px;
  color: white;
  line-height: 25px;
  text-align: center;
}

.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}




.btn-primary{
  position: absolute;
  padding: 10px 15px;
  background: #2A2986;
  border-radius: 10px;
  border: none;
  text-align: center;
}

.to-make-btn-center-only{
  margin-left: 150px;
}

.card-content button{
  color: white;
  background-color: #4494D1;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.5;
  margin-left: 110px;
}

.teachers-Info{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.speciality{
  width: 100%;
}
}
